.admn-sbmt-bttn{
    background-color: var(--red) !important;
    border-color: var(--red) !important;
}
.admn-sbmt-bttn:hover{
    background-color: var(--darkred) !important;
    border-color: var(--darkred) !important;
}
.admn-sbmt-bttn:focus{
    box-shadow: var(--redshdw);
}
.admn-sbmt-bttn:active:focus{
    box-shadow: var(--redshdw);
}

.form-control:focus{
    border-color: #f30000;
}
.form-control:focus{
    box-shadow: var(--redshdw);
}
.form-control:active:focus{
    box-shadow: var(--redshdw);
}
.error-msg{
    color: red;
    font-size: 12px;
}
.d_table thead tr th {
    background: #2b2a28;
    color: white;
    font-weight: 500;
}
.d_table thead tr th:first-child{
    border-top-left-radius: 5px;
}
.d_table thead tr th:last-child{
    border-top-right-radius: 5px;
}
.d_table thead tr th:last-child{
    border-top-right-radius: 5px;
}
.d_table tbody tr:last-child td:first-child{
    border-bottom-left-radius: 5px;
}
.d_table tbody tr:last-child td:last-child{
    border-bottom-right-radius: 5px;
}
.d_table tbody{
    font-size: 14px;
}